default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: <%= username %>
  password: <%= password %>
  host: <%= host %>
  port: <%= port %>

development:
  <<: *default
  database: <%= app_name %>_development

test:
  <<: *default
  database: <%= app_name %>_test
