default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: <%= pg_username %>
  password: <%= pg_password %>
  host: <%= pg_host %>
  port: <%= pg_port %>

development:
  <<: *default
  database: <%= app_name %>_development

test:
  <<: *default
  database: <%= app_name %>_test
